@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  height: -webkit-fill-available;
  }

header .contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(5, 155, 255);
  padding: 7px;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
}

#logo{
  width: 10em;
  max-width: 10em;
}

#menu{
  width: 4em;
  max-width: 4em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5em;
  flex-grow: 1;
}


.pastillas{
  
}


.correcion {
display: flex;
flex-direction: column;
margin: auto;
position: relative;
width: 100%;
list-style-type: none;
}

.correcion li{
  margin-bottom: 7vh;
}
.correcion li img{
  z-index: -1;
  position: absolute;
  border-radius: 15px;
  width: 50vh;
  height: 15vh;
}

.correcion li h2 {

  color: rgb(255, 255, 255);
}
.correcion li h4 {
  color: rgb(255, 255, 255);
  font-weight: 200;
}

.correcion li p {
  color: #fff;
}

.correcion li div{
  padding: 20px;
}


.novedades{
  text-align: center;
  font-size: 2vh;
  padding-bottom: 15px;
  color: #177bd8;
}

.boton{
  margin: auto;
  max-width: 30vh;
}

.pimg {
  position: relative;
  left: 16em;
  top: 8em;
  height: 50px;
  width: 50px;
}

.pastilla {
position: relative;
top: 8em;
left:1em;
color: #fff;
}


img {
  max-width: 100%;
  height: auto;
}

/*----------------FOOTER------------------------*/

footer nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 7px;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
}

footer nav ul li{
  width: 4em;
  height: 4em;
}


/*------------CALENDARIO---------------------*/

main article {
  display: inline-block;
  align-self: center;
}

main article ul {list-style-type: none;}

.mes {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  width: 100%;
  background: #218be2;
  text-align: center;
  margin-top: 10vh;
  width: 22em;
}

.mes ul {
  margin: 0;
  padding: 0;
}

.mes ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.mes .ant {
  float: left;
  padding-top: 10px;
}


.mes .sig {
  float: right;
  padding-top: 10px;
}


.semana {
  padding: 5px 0;
  background-color:#ddd;
  width: 22em;
}

.semana li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}


.dias {
  padding: 5px 0;
  background: #eee;
  width: 22em;
}


.dias li {
  list-style-type: none;
  display: inline-block;
  width: 3em;
  height: 3em;
  text-align: center;
  font-size:15px;
  color: #777;
}

.seleccionado {
  padding: 10px;
  border-radius: 100%;
  background: #177bd8;
  color: white !important
}